* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapercave.com/wp/wp1824056.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    color: #FFFFFF;
}

.terminal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: #282828;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    border-radius: 5px;
    overflow: hidden;
}

.menu-bar {
    height: 35px;
    background-color: #333333;
    display: flex;
    align-items: center;
}

.menu-bar span {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 10px;
}

.close {
    background-color: #F44336;
}

.minimize {
    background-color: #FFEB3B;
}

.maximize {
    background-color: #4CAF50;
}

.terminal-body {
    padding: 20px;
    line-height: 1.8;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
    width: 85%;
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
